div.add-post-container {
  position: fixed;
  bottom: -70px;
  right: 15px;
  width: 65px;
  height: 65px;
  z-index: 99;
  transition: bottom 0.25s ease, opacity 0.5s ease;

  & > div.add-story-button {
    & > div {
      background-color: $theme-color;
      border: 1px solid #f8ba0d;
      transition: all .25s ease;
      box-shadow: 0px 12px 8px -4px rgba(0, 0, 0, 0.2);
    }

    figure{
      position: relative;
      z-index: 99;
    }
    
    i {
      color: #fff;
      font-size: 200%;
      transition: all .25s ease;
    }
  }
  
  &:focus,
  &:hover {
    & > div.add-story-button {
      & > div {
        background-color: darken($theme-color, 2%);
        transform: scale(.95, .95);
        box-shadow: 0px 12px 8px -8px rgba(0, 0, 0, 0.6);
      }
      
      i{
        transform: scale(.95, .95);
      }
    }
  }

  @media screen and (min-width: 676px) {
    right: calc(25% + 10px);
  }
}
