div.add-post-container {
  position: fixed;
  bottom: -30px;
  right: 15px;
  width: 70px;
  height: 70px;
  z-index: 9999999;
  transition: bottom 0.25s ease, opacity .5s ease;
  
  & > div.add-story-button {
    & > div {
      background-color: $theme-color;
      border: 1px solid #f8ba0d;
      box-shadow: 0px 12px 8px -4px rgba(0, 0, 0, .2);
    }

    i{
      color: #fff;
      font-size: 250%;
    }
  }
}
