div.gallery{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  section{
    margin-top: 0px;
    padding-top: 0px;
    min-height: 45vh;

    & > div.empty{
      min-height: inherit;
    }
  }

  img.tiles {
    width: calc(100vw / 3);
    height: calc(100vw / 3);
  }
}