div.gallery{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  section{
    margin-top: 0px;
  }

  img.tiles {
    width: calc(100vw / 3);
    height: calc(100vw / 3);
  }
}