div.newsfeed-tab{
  margin-bottom: 20px;

  header, footer{
    background-color: #fff;
    padding: 10px 10px 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img{
      width: 42px;
      height: 42px;
      border-radius: 50%;
      border: 2px solid #f8ba0d;
    }

    div{
      flex: 3;
      margin-left: 10px;
      margin-right: auto;
      font-weight: 400;
      display: flex;
      flex-direction: column;

      span{
        &:first-of-type{
          color: #000;
          margin-bottom: 3px;
        }

        &:last-of-type{
          color: #aaa;
          font-size: 12px;
        }
      }
    }

    i{
      color: #aaa;
      margin-left: auto
    }
  }

  footer{
    display: inline-flex;
    justify-content: flex-start;

    i {
      margin: 0px
    }
  }

  & > img{
    width: 100%;
  }
}