div.newsfeed-tab {
  margin-bottom: 20px;
  width: 100%;
  z-index: 0;

  header,
  footer {
    background-color: #fff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    main {
      height: 42px;
      margin-top: 2px;
    }

    img {
      width: 42px;
      height: 42px;
      border-radius: 50%;
      border: 2px solid $theme-color;
    }

    & > span.time {
      font-size: 65%;
      color: #aaa;
    }

    div {
      flex: 2;
      margin-left: 10px;
      margin-right: auto;
      font-weight: 400;
      display: flex;
      flex-direction: column;

      span {
        cursor: pointer;
        
        &:first-of-type {
          width: 100%;
          color: $accent-color;
          margin-bottom: 3px;
          font-weight: 700;
        }

        &:last-of-type {
          font-weight: 300;
          color: #aaa;
          font-size: 12px;
          flex: 1;
        }
      }

      &:last-of-type {
        flex: 1;
      }
    }

    i {
      color: #aaa;
      margin-left: auto;
    }
  }

  footer {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 0px;

    & > span {
      @extend .touchable;
      display: inline-flex;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      padding: 10px;
      cursor: pointer;

      div {
        flex: 1;
        margin-left: 20px;

        i {
          margin: 0px;
          font-size: 120%;
          color: $accent-color;
        }
      }

      span {
        flex: 1;
        font-size: 85%;
      }

      &.delete {
        display: block;
        text-align: center;

        & > span {
          background: #d9534f;
          margin: auto;
          padding: 5px 12px;
          text-align: center;
          font-weight: 700;
          color: #fff;
          border-radius: 3px;
        }
      }

      &:first-of-type {
        border-right: 1px solid #f4f4f4;

        div:first-of-type {
          i {
            color: $theme-color;
          }
        }
      }
    }
  }

  & > div.img-container {
    max-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
    img {
      width: 100%;
      
    }
    
    @media screen and (min-width: 676px) {
      max-height: calc(100vh - 80px);
    }
  }

  & > span {
    width: 100%;
    display: block;
    text-align: left;
    padding: 10px 15px;
    font-size: 85%;
    color: #888;
  }

  &:last-of-type {
    margin-bottom: 0px;
    padding-bottom: 20px;

    & > div:last-of-type {
      display: none;
    }
  }
}
