section.newsfeed-header {
  font-family: $font;
  margin-top: 60px;
  background-color: #fafafa;
  transition: all 0.35s ease;
  height: 0px;
  min-height: 50px;
  overflow: hidden;
  
  & > h2 {
    font-weight: 900;
    font-size: 16px;
    margin: 0px;
    padding: 13px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.35s ease;
    
    i {
      font-size: 16px;
      color: $red;
    }
  }
  
  &.closed {
    min-height: 0px;
    background-color: $red;
    transition: all 0.35s ease;
  }
}
