div.profile-tab {
  width: 100%;
  
  h3.profile-tab {
    padding: 0px 15px;
    font-family: $font;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 20px 0px 10px;
    color: #000;
  }

  ul.profile-tab {
    padding: 0px 15px;

    li {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      font-family: $font;

      i {
        font-size: 18px;
        color: rgb(170, 170, 170);
      }

      span {
        font-family: $font;
        padding-top: 0px;
        margin-left: 12px;
        font-weight: 300;
        vertical-align: top;
        font-size: 85%;
        color: #000;
      }

      &.upgrade {
        padding: 10px;
        color: #fff;
        background: $theme-color;
        font-size: 13px;
        font-weight: 700;
        border-radius: 5px;
        justify-content: center;

        &:hover,
        &:active {
          background: darken($theme-color, 10);
        }
      }

      &:last-of-type{
        align-items: flex-start;

        i{
          margin-top: 3.5px;
        }
      }
    }
  }
}