.small {
  background-color: $theme-color;
  padding: 2.5px 5px;
  margin-right: 5px;
  color: #fff;
  border-radius: 3px;
}

div.search-dialog {
  & > div.dialog-lower-section {
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    header {
      h3 {
        font-weight: 900;
      }
    }

    div.search {
      form {
        padding: 20px 0px 0px;
        width: 100%;
        font-family: $font;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid $theme-color;

        input {
          width: 100%;
          border: 0;
          box-shadow: none;
          font-family: $font;
          font-weight: 300;
          border-radius: 0px;
          font-size: 85%;
          color: #000;
          padding: 10px 10px 2.5px 5px;
          background-color: transparent;

          &:focus,
          &:hover {
            outline: none;
            box-shadow: none;
          }
        }

        & > button {
          background-color: transparent;
          padding: 0px;
          font-family: $font;
          border: 0;

          i {
            color: $accent-color;
          }
        }

        &:focus,
        &:hover {
          outline: none;
        }
      }

      div.search-results {
        & > h3 {
          font-size: 120%;
          font-family: $font;
          font-weight: 400;
          margin: 20px 0px 10px;
          text-transform: uppercase;

          & > small {
            @extend .small;
            margin-left: 10px;
          }
        }

        ul {
          padding: 0px;
          margin: 0px;

          h3 {
            font-family: $font;
            font-weight: 400;
            font-size: 75%;
            color: #888;
            margin: 20px 0px 5px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-transform: uppercase;
            cursor: pointer;

            span {
              transition: all 0.35s ease;

              small {
                @extend .small;
              }
            }

            i {
              font-size: 200%;
              color: $theme-color;
            }

            &:focus,
            &:hover {
              color: $theme-color;
            }
          }

          li {
            font-family: $font;
            padding: 20px 10px 8px;
            font-weight: 300;
            font-size: 85%;
            color: #000;
            height: 10px;
            flex-direction: column;
            cursor: pointer;
            transition: all 0.25s ease;
          }

          &.expand_more {
            li {
              height: 0px;
              min-height: 0px;
              overflow: hidden;
              padding: 0px 10px;

              & > * {
                opacity: 0;
              }
            }
          }

          &.no-decoration {
            li {
              text-transform: none;
            }
          }
        }
      }
    }
  }
}
